body {
	background-color: #e8f0fa;
}

.navbar{
	background-color: #aacaf2;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #c7daf2;
}

.navbar-default .navbar-nav>li:hover {
	background-color: #c7daf2;
}

.wrapper{
	margin-left: 20px;
}

table, th, td{
	border-right-style:inset;
}

.gold {
    color: #f4ce42
}
