{% extends "base.html" %}

{% block content%}
  {%if success is defined %}
    <div class="alert alert-success alert-dismissable">
      <span class="sr-only">Success:</span>
      {{ success }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>  
  {% endif %}
  {%if error is defined %}
    <div class="alert alert-danger alert-dismissable">
      <span class="sr-only">Error:</span>
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>  
  {% endif %}
    <form action="#" method="GET">
      <div class="input-group stylish-input-group">
          <input class="form-control" placeholder="Search" name="search" type="text">
          <span class="input-group-addon">
              <button type="submit" action="/events">
                <span class="glyphicon glyphicon-search"></span>
              </button>
          </span>
      </div>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 80px">Event ID</th>
        <th style="width: 80px">Title</th>
        <th style="width: 140px">Description</th>
        <th style="width: 70px">Starting time</th>
        <th style="width: 70px">Ending time</th>
        <th style="width: 70px">Location</th>
        <th style="width: 30px">Zipcode</th>
        <th style="width: 70px">Sign Up/Rate</th>
      </tr>
    </thead>
    <tbody>
      
      {%for event in events%}
          <tr><td>{{event.event_id}}</td><td>{{event.title}}</td><td>{{event.description}}</td><td>{{event.start_time}}</td><td>{{event.end_time}}</td><td>{{event.location_name}}</td><td>{{event.zipcode}}</td><td>
        {% if username is defined %}
            {% if signed_up(username, event.event_id) %}
              {% if not check_rated(username, event.event_id) %}
            <a class="rate one" href="/rate?eid={{ event.event_id}}&rating=1"><i class="glyphicon glyphicon-star"></i></a>
            <a class="rate two" href="/rate?eid={{ event.event_id}}&rating=2"><i class="glyphicon glyphicon-star"></i></a>
            <a class="rate three" href="/rate?eid={{ event.event_id}}&rating=3"><i class="glyphicon glyphicon-star"></i></a>
            <a class="rate four" href="/rate?eid={{ event.event_id}}&rating=4"><i class="glyphicon glyphicon-star"></i></a>
            <a class="rate five" href="/rate?eid={{ event.event_id}}&rating=5"><i class="glyphicon glyphicon-star"></i></a>
              {% else %}
                {% for n in range(check_rated(username, event.event_id)) %}
                <i class="glyphicon glyphicon-star"></i>
                {% endfor %}
              {% endif %}
            {% else %}
            <button id = "signup" type="submit" class="btn btn-default" href="/signup/{{event.event_id}}">Sign Up</button>
            {% endif %}
        {% endif %}
        </td></tr>
      {% endfor %}
      
      <!-- searches for all event and should give user option to signup for them-->
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script>
    // $(".rate").click(function(this) {
    //     console.log(this);
    // });

    $("#signup").click(function(){
        console.log($(this).attr("href"));
        $.get($(this).attr("href"), function(data){

        });
    });
</script>

{% endblock %}
