{% extends "base.html" %}

{% block content %}
<div class="wrapper">
	<h2> Welcome to your profile, {{ session.username }}!</h2><br>
	<h3> Your upcoming events for the next three days</h3>
	<table class="table">
		<thead>
			<tr>
				<th style="width: 80px">Title</th>
				<th style="width: 140px">Description</th>
				<th style="width: 70px">Starting time</th>
				<th style="width: 70px">Ending time</th>
				<th style="width: 70px">Location</th>
				<th style="width: 30px">Zipcode</th>
			</tr>
		</thead>
		<tbody>
			{%for event in events%}
				<tr><td>{{event.title}}</td><td>{{event.description}}</td><td>{{event.start_time}}</td><td>{{event.end_time}}</td><td>{{event.location_name}}</td><td>{{event.zipcode}}</td></tr>
			{% endfor %}
			
		</tbody>
	</table>
</div>
{% endblock %}
