<!DOCTYPE html>
<html>
<head>
  <link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
  <script src="../static/Javascript/bootstrap.min.js"></script>
  <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<title> FindFolks - Home </title>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand">FindFolks</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="home.html">Home</a></li>
	      <li><a href="search.html">Search Events</a></li>
	      <li><a href="allEvents.html">All Events</a></li>
	      <li><a href="create.html">Create an Event</a></li>
	      <li><a href="login.html">Login</a></li>
   	      <li><a href="register.html">Register</a></li>
	    </ul>
	  </div>
	</nav>

<div class="wrapper">
<h2> Welcome to your profile, {{username}}!</h2><br>



	<form action="/post" method="POST">
		<h1>Welcome {{username}}</h1> 
		<input type="text" name = "blog" placeholder="post" required/> </br>
		<input type="submit" value = Post />
	</form>

	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>

	<table class="table">
		<thead>
			<tr>
				<th style="width: 90px">event ID</th>
				<th style="width: 120px">Title</th>
				<th style="width: 90px">Starting time</th>
				<th style="width: 90px">Ending time</th>
				<th style="width: 150px">Location</th>
				<th style="width: 50px">Zipcode</th>
				<th style="width: 100px">Group</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
			</tr>
		</tbody>
	</table>



	<table>
		<th>Time</th>
		<th>Post</th>

	{% for line in posts %}
		<tr>
			<td>{{line.ts}}</td>
			<td>{{line.blog_post}}</td>
		</tr>
	{% endfor %}
	</table>

	<a href="/logout">Logout</a>

	</div>

</body>


</html>
