<!DOCTYPE html>
<html>
<head>
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
  <script src="../static/js/bootstrap.min.js"></script>
  <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<title> FindFolks - Home </title>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand">FindFolks</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="home.html">Home</a></li>
	      <li><a href="search.html">Search Events</a></li>
	      <li><a href="allEvents.html">All Events</a></li>
	      <li><a href="create.html">Create an Event</a></li>
	      <li><a href="login.html">Login</a></li>
   	      <li><a href="register.html">Register</a></li>
	    </ul>
	  </div>
	</nav>

<div class="wrapper">
	<h2> Welcome to your profile, {{username}}!</h2><br>



<!-- 	<form action="/post" method="POST">
		<h1>Welcome {{username}}</h1> 
		<input type="text" name = "blog" placeholder="post" required/> </br>
		<input type="submit" value = Post />
	</form> -->

	<h3> Your upcoming events for the next three days</h3>
	<table class="table">
		<thead>
			<tr>
				<th style="width: 70px">event ID</th>
				<th style="width: 80px">Title</th>
				<th style="width: 70px">Starting time</th>
				<th style="width: 70px">Ending time</th>
				<th style="width: 70px">Location</th>
				<th style="width: 30px">Zipcode</th>
				<th style="width: 80px">Group</th>
				<th style="width: 140px">Description</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>123456</td>
				<td>Tennis Match</td>
				<td>12/6 2:45pm</td>
				<td>12/6 5:00pm</td>
				<td>Brooklyn Tennis Arena</td>
				<td>11224</td>
				<td>Tennis Lovers</td>
				<td>Doubles tennis matches in Brooklyn, all experience levels welcome</td>
			</tr>
			<tr>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
				<td>fg</td>
			</tr>
		</tbody>
	</table>

</div>

</body>


</html>
