{% extends "base.html"%}

{% block content%}
  <table class="table">
    <thead>
      <tr>
        <th style="width: 80px">Title</th>
        <th style="width: 140px">Description</th>
        <th style="width: 70px">Starting time</th>
        <th style="width: 70px">Ending time</th>
        <th style="width: 70px">Location</th>
        <th style="width: 30px">Zipcode</th>
        <th style="width: 70px">Sign Up</th>
      </tr>
    </thead>
    <tbody>
      {%for event in events%}
        <tr><td>{{event.title}}</td><td>{{event.description}}</td><td>{{event.start_time}}</td><td>{{event.end_time}}</td><td>{{event.location_name}}</td><td>{{event.zipcode}}</td><td><button type="submit" class="btn btn-default">Sign Up</button></td></tr>
      {% endfor %}
      <!-- searches for all event and should give user option to signup for them-->
    </tbody>
  </table>
{% endblock %}