<html>
<head>
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<script src="../static/Javascript/bootstrap.min.js"></script>
<title> FindFolks - Register </title>
</head>
<body>
<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>


</html>
